<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add a Expense</h1>
    <form action="/product/addProduct" method="POST" >
        <label for="amount">Expense Amount:</label>
        <input type="number" id="amount" name="amount" required />

        <label for="description">Expense Description:</label>
        <input type="text" id="description" name="description" required />
   
        <label  for="category">Choose a Category:</label>
            <select id="category" name="category">
                <option value="electronics">Electronics</option>
                <option value="food">Food</option>
                <option value="skincare">Skincare</option>
            </select>
           
            <button>Add Product</button>
    </form>

    <div id="message"></div>
        <h1>
            Products Detail
        </h1>
        <h3>Electronics Items</h3>
        <ul id="electronics">
            <% expenses.filter(item => item.category === 'electronics').forEach(item => { %>
                <li>
                    Amount: <%= item.amount  %> ,
                    Description:  <%= item.description  %> ,
                    Category: <%= item.category  %>
                    <button onclick="deleteItem('<%= item.id %>')">Delete</button>
                </li>
            <% }); %>
        </ul>
    
        <h3>Food Items</h3>
        <ul id="food">
            <% expenses.filter(item => item.category === 'food').forEach(item => { %>
                <li>
                   Amount: <%= item.amount  %> ,
                   Description:  <%= item.description  %> ,
                   Category: <%= item.category  %>
                   
                    <button onclick="deleteItem('<%= item.id %>')">Delete</button>
                </li>
            <% }); %>
        </ul>
    
        <h3>Skincare Items</h3>
        <ul id="skincare">
            <% expenses.filter(item => item.category === 'skincare').forEach(item => { %>
                <li>
                    Amount: <%= item.amount  %> ,
                    Description:  <%= item.description  %> ,
                    Category: <%= item.category  %>
                    <button onclick="deleteItem('<%= item.id %>')">Delete</button>
                </li>
            <% }); %>
        </ul>
    
</body>
</html>